<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ceci est la liste des agences de voyages du l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Agences</title>

    </head>

    <body> 
        <header>
            <h1>Vicky Airlines</h1>
        </header>

        <main>

            <h2>Liste des agences</h2>

            <div class="menu">
                <form action = "/homepage" method="GET">
                    <button type="submit">Retour page d'accueil</button>
                </form>
            </div>
            
            <div class="block2">

            <p>L'agence s'affiche seulement si vous avez une destination liée à cette agence de voyage</p>

                <table>
                   <thead>
                       <td><strong>Numéro de l'agence</strong></td>
                       <td><strong>Nom de l'agence</strong></td>
                   </thead>

                   <tbody>
                        <% for(let i = 0; i < agence.length; i++) { %>
                        <tr>

                            <td><%= agence[i].idagence %> </td>
                            <td><%= agence[i].nomagence %> </td> 

                            <td><form action="/agenceupdateform/<%= agence[i].idagence %>" method="GET">
                                <button type="submit">Modifier</button>
                                </form></td>
                                

                        </tr>
                        <% } %>
                   </tbody>
                </table>
                
                <form action="/agenceaddform" method="GET">
                <button type="submit">Ajouter</button>
                </form>

            </div>

        </main>
    </body>

    <footer>

    </footer>
</html>