<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="agenceUpdate" content="ceci est la page de modification du nom de l'agence du l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Modification du nom d'une agence</title>
        
    </head>

    <body>
        <h1>Modifier le nom de l'agence</h1>
        <form action="/agenceupdate" method="POST">

            <input type="hidden" name="idagence" value="<%= idagence %>" ><br>
            Nom agence:
            <input type="text" name="nomagence" value="<%= nomagence %>" ><br>

            <button type="submit">Modifier</button>
        </form>

        <form action="/homepage" method="GET">
            <button type="submit"> Retour à la liste</button>
        </form>
    </body>

    <footer></footer>

</html>