<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Ceci est la page de modification du nom de l'agence du l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Modification du nom d'une agence</title>
        
    </head>

    <body>
        <header>
            <h1>Vicky Airlines</h1>
        </header>

        <main>
            
            <h2>Modifier le nom de l'agence</h2>

            <div class="menu">
                <form action="/homepage" method="GET">
                    <button type="submit">Retour page d'accueil</button>
                </form>
                <form action="/agence" method="GET">
                    <button type="submit">Agences liste</button>
                </form>
            </div>

            <div class="block1">
                <form action="/agenceupdate" method="POST">

                    <input type="hidden" name="idagence" value="<%= idagence %>" ><br>
                    Nom agence:
                    <input type="text" name="nomagence" value="<%= nomagence %>" required title="Le nom de l'agence"><br>

                    <button type="submit">Modifier</button>
                </form>
            </div>
        </main>        
    </body>

    <footer></footer>

</html>