<!DOCTYPE html>

<html>

    <head>
        <title>Modification du nom d'une agence</title>
        <style></style>
    </head>

    <body>
        <h1>Modifier le nom de l'agence</h1>
        <form action="/agenceupdate" method="POST">

            <input type="hidden" name="idagence" value="<%= idagence %>" ><br>
            Nom agence:
            <input type="text" name="nomagence" value="<%= nomagence %>" ><br>

            <button type="submit">Modifier</button>
        </form>

        <form action="/homepage" method="GET">
            <button type="submit"> Retour à la liste</button>
        </form>
    </body>

    <footer></footer>

</html>