<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="deleteAccount" content="ceci est la page de suppression du compte de l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Confirmation suppression compte</title>

    </head>

    <body>
        <h1>Suppression compte user</h1>

        <form action="/user_delete" method="POST">
        <button type="submit">Supprimer compte</button>
        </form>

        <form action="/homepage" method="GET">
        <button type="submit">Retour page d'accueil</button>
        </form>

    </body>
</html>