<!DOCTYPE html>

<html>
    <head>
        <title>Confirmation suppression compte</title>
        <style>

        </style>
    </head>

    <body>
        <h1>Suppression compte user</h1>

        <form action="/user_delete" method="POST">
        <button type="submit">Supprimer compte</button>
        </form>

        <form action="/homepage" method="GET">
        <button type="submit">Retour page d'accueil</button>
        </form>

    </body>
</html>