<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="ajoutDestination" content="ceci est la page d'ajout d'une destination du l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Ajouter une destination</title>

    </head>

    <body>
        <h1>Ajouter une destination</h1>

        <form action="/destadd" method="POST">
        
            Country:
            <input type="text" name="country" value="<%= country %>"> <br>
            City:
            <input type="text" name="city" value="<%= city %>"> <br>
            Days:
            <input type="text" name="days" value="<%= days %>"> <br>
            Agence:
            <input type="text" name="fkagence" value="<%= fkagence %>"> <br>

            <input type="submit" name="ajouter" value="Ajouter"><br>

        </form>

        <form action="/homepage" method="GET">
            <button type="submit">Retour à la liste</button>
        </form>


    </body>

</html>