<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>S'enregister</title>
        <style>

        </style>
    </head>

    <body>

        <h1>Ouvrir un compte</h1>

        <form action="/auth_register" method="POST">
        
            Firstname:
            <input type="text" name="firstname" required />

            Lastname:
            <input type="text" name="lastname" required />

            E-mail:
            <input type="text" name="email" required />

            Password:
            <input type="text" name="password" required />

            <button type="submit">Login</button>

        </form>

    </body>
</html>