<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Page pour se créer un compte">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>S'enregister</title>

    </head>

    <body>

        <header>
            <h1>Ouvrir un compte</h1>
        </header>

        <main>

            <h2>S'enregistrer</h2>

            <div class="menu">
                <button><a href="/userHome" alt="Retour à la page d'identification">Retour page d'identification</a></button>
            </div>

            <div class="block1">
                <form action="/auth_register" method="POST">
                
                    <h5>Prénom:</h5>
                    <input type="text" name="firstname" placeholder="Prénom" required title="Introduire son prénom"/>

                    <h5>Nom de famille:</h5>
                    <input type="text" name="lastname" placeholder="Nom de famille" required title="Introduire son nom de famille"/>

                    <h5>E-mail:</h5>
                    <input type="text" name="email" placeholder="Votre e-mail" required title="Introduire son adresse mail"/>

                    <h5>Mot de passe:</h5>
                    <input type="password" name="password" placeholder="*******" required title="Introduire son mot de passe"/><br><br>

                    <button type="submit" title="Bouton pour valider son identification">Valider</button>

                </form>
            </div>
        </main>

        <footer>

        </footer>

    </body>
</html>