<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="senregister" content="Page pour se créer un compte">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>S'enregister</title>

    </head>

    <body>

        <header>
            <h1>Ouvrir un compte</h1>
        </header>

        <main>
            <div class="block">
                <div id="enregister">
                    <form action="/auth_register" method="POST">
                    
                        <h5>Firstname:</h5>
                        <input type="text" name="firstname" placeholder="Prénom" required />

                        <h5>Lastname:</h5>
                        <input type="text" name="lastname" placeholder="Nom de famille" required />

                        <h5>E-mail:</h5>
                        <input type="text" name="email" placeholder="Votre e-mail" required />

                        <h5>Password:</h5>
                        <input type="text" name="password" placeholder="*******" required /><br><br>

                        <button type="submit">Login</button>

                    </form>
                </div>
            </div>
        </main>

        <footer>

        </footer>

    </body>
</html>