<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Page pour se login ou s'enregistrer">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Login</title>

    </head>

    <body>

        <header>
            <h1>Vicky Airlines</h1>
        </header>

        <main>

            <h2>Page session</h2>

            <div class="menu">
                <button><a href="/register" alt="Aller à la page pour s'enregistrer">S'enregistrer</a></button>
            </div>

            <div class="block1">
                <form action="/auth_login" method="POST">

                    <h4>E-mail:</h4>

                    <input type="text" name="email" placeholder="Votre adresse e-mail" required title="Insérer votre adresse mail">

                    <h4>Mot de passe:</h4>

                    <input type="password" name="password" placeholder="Votre mot de passe" required title="Insérer votre mot de passe"><br><br>

                    <button type="submit" title="Bouton pour se loguer"><strong>LOGIN</strong></button>
                </form>
            </div>

        </main>

        <footer>

        </footer>

    </body>
</html>