<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="session" content="Page pour se login ou s'enregistrer">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Login</title>

    </head>

    <body>

        <header>

            <h1>Page session</h1>

        </header>

        <main>

            <div class="block">
                <div id="login">
                    <form action="/auth_login" method="POST">

                        <h4>E-mail:</h4>

                        <input type="text" name="email">

                        <h4>Password:</h4>

                        <input type="text" name="password"><br><br>

                        <button type="submit">Login</button>
                    </form>
                </div>

                <div id="register">
                    <button><a href="/register">S'enregistrer</a></button>
                </div>
            </div>

        </main>

        <footer>

        </footer>

    </body>
</html>