<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <style></style>
    </head>

    <body>

        <h1>Page d'access à votre session</h1>

        <form action="/auth_login" method="POST">
            E-mail:
            <input type="text" name="email">
            Password:
            <input type="text" name="password">

            <button type="submit">Login</button>
        </form>

            <button><a href="/register">S'enregistrer</a></button>
        

    </body>
</html>