/*************************************** Commun *****************************************/
:root {
    --base-color-h: 205;
    --base-color-s: 80%;
    --base-color-l: 60%;
    --base-color: hsl(var(--base-color-h),
                    var(--base-color-s),
                    var(--base-color-l));
    --base-color-darken-25: hsl(var(--base-color-h),
                    var(--base-color-s),
                    calc(var(--base-color-l) - 25%));
    --length-M: 2rem;
    --length-L: calc(var(--length-M)*2);
    --length-S: calc(var(--length-M)/2);
}

html
{
    display: block;
    line-height: 1,15;
}

meta {
    display: none;
}

body
{
    background-color: white;
    font-family: Verdana, Arial, Georgia, Times New Roman;
    display: block;
    margin: 0em;
    padding-top: 5rem;
}

header {
    background-color: var(--base-color);
    height: var(--length-L);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    z-index: 300;
}

header h1 {
    padding: 5px 0 15px 0; /*top, right, bottom, left*/
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
}

h2 {
    color: darkblue;
}

.menu button {
    font-size: 16px;
    float: left;
    border: 1px solid blue;
    text-align: center;
    padding: 10px 25px;
    border-radius: 30px;
}

.menu button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.block1 {
    background-color: lightskyblue;
    display: block;
    padding: 20px 0px 20px 0px; /*top, right, bottom, left - intern */ 
    border-radius: 50px;
    border-color: skyblue;
    text-align: center;
    margin: 75px auto;
}

.block1 button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
}

.block2 {
    background-color: whitesmoke;
    display: block;
    padding: 20px 0px 20px 0px; /*top, right, bottom, left - intern */ 
    border-radius: 50px;
    border-color: skyblue;
    text-align: center;
    margin: 75px auto;
}

.block2 button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
}

table, td, th {
    border: 1px solid darkblue;
    margin: 90px auto;/*top, right, bottom, left - intern */ 
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
 }

footer {
    background-color: var(--base-color);
    height: var(--length-L);
    position: fixed;
    left: 0em;
    bottom: 0em;
    width: 100%;
    z-index: 1;
}

@media (min-width: 600px) {
    body {
        margin: auto;/*top, right, bottom, left - extern */   
    }
    main {
        width: 500px;
        margin: 5px auto;
        text-align: center;
    }

    .block1, .block2 {
        width: 400px;
    }
    input {
        width: 90%;
        margin-top: 0;
    }
    table, td, th {
         margin: auto;
    }
}


/********************************** USER HOME *********************************************/

/******************************HOME PAGE *******************************************/

/*****************************************REGISTER*************************************/

/****************************************DEST-UPDATE************************************/
